<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-header text-center bg-primary text-white">
          <h3 class="mt-2">Edit Account</h3>
        </div>
        <div class="card-body bg-white">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
            <%= f.error_notification %>

            <!-- Email -->
            <div class="mb-3">
              <%= f.label :email, "Email", class: "form-label" %>
              <%= f.input_field :email, class: "form-control", placeholder: "Enter your email", required: true, autofocus: true %>
            </div>

            <!-- Password -->
            <div class="mb-3">
              <%= f.label :password, "New Password", class: "form-label" %>
              <%= f.input_field :password, class: "form-control", placeholder: "Leave it blank if you don't want to change it" %>
              <small class="form-text text-muted">Leave it blank if you don't want to change it</small>
            </div>

            <!-- Password Confirmation -->
            <div class="mb-3">
              <%= f.label :password_confirmation, "Confirm Password", class: "form-label" %>
              <%= f.input_field :password_confirmation, class: "form-control", placeholder: "Confirm your new password" %>
            </div>

            <!-- Current Password -->
            <div class="mb-3">
              <%= f.label :current_password, "Current Password", class: "form-label" %>
              <%= f.input_field :current_password, class: "form-control", placeholder: "Enter your current password", required: true, autocomplete: "current-password" %>
              <small class="form-text text-muted">We need your current password to confirm your changes</small>
            </div>

            <div class="mb-3">
              <%= f.label :photo, "Update profile picture", class: "form-label" %>
              <%= f.input_field :photo, class: "form-control", placeholder: "upload image", required: false %>
            </div>

            <div class="mb-3">
              <%= f.label :blood_group, "Update blood group", class: "form-label" %>
              <%= f.input_field :blood_group, class: "form-control", placeholder: "blood group", required: false %>
            </div>

            <%= f.input :year_of_birth,
                    required: false,
                    input_html: { autocomplete: "new-age" } %>

            <!-- Submit Button -->
            <div class="text-center">
              <%= f.submit "Update", class: "btn btn-doc w-100" %>
            </div>
          <% end %>
        </div>
      </div>
      <!-- Cancel Account -->
      <div class="mt-4 shadow-sm bg-white">
        <div class="card-header text-center bg-primary text-white">
          <h3>Cancel Account</h3>
        </div>
        <div class="card-body text-center">
          <p class="mb-4">Unhappy? You can cancel your account below.</p>
          <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-doc mb-3", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
        </div>
      </div>
      <!-- Back Link -->
      <div class="text-center mt-3">
        <%= link_to "Back", :back, class: "btn btn-doc" %>
      </div>
    </div>
  </div>
</div>
