  <footer class="footer">
    <div class="footer-logo">
      <%= image_tag "logo_footer.png"%>
    </div>
    <div class="footer-text">
      © 2024 MedConnect. All rights reserved.
      <br>Connecting you with trusted healthcare professionals online.
      <br><a href="<%= about_path %>">Privacy Policy</a> | <a href="<%= about_path %>">Terms of Service</a> | <a href="<%= about_path %>">FAQ</a> | <a href="<%= getintouch_path %>">Contact Us</a>
    </div>
  </footer>
