<div class="container py-5">
  <h1 class="row justify-content-center mb-5 mt-5">Have questions or need assistance? Reach out to us anytime.</h1>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-header text-center bg-primary text-white">
          <h3>Contact Us</h3>
        </div>
        <div class="card-body">
          <%= form_with url: getintouch_path, method: :post, local: true do |f| %>
            <!-- Name -->
            <div class="mb-3">
              <%= f.label :name, "Name", class: "form-label" %>
              <%= f.text_field :name, class: "form-control", placeholder: "Your Name", required: true %>
            </div>

            <!-- Email -->
            <div class="mb-3">
              <%= f.label :email, "Email", class: "form-label" %>
              <%= f.email_field :email, class: "form-control", placeholder: "Your Email", required: true %>
            </div>

            <!-- Subject -->
            <div class="mb-3">
              <%= f.label :subject, "Subject", class: "form-label" %>
              <%= f.text_field :subject, class: "form-control", placeholder: "Subject" %>
            </div>

            <!-- Message -->
            <div class="mb-3">
              <%= f.label :message, "Message", class: "form-label" %>
              <%= f.text_area :message, rows: 5, class: "form-control", placeholder: "Your Message", required: true %>
            </div>

            <!-- Submit Button -->
            <div class="text-center">
              <%= f.submit "Send Message", class: "btn btn-doc w-100" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
