<div class="homepage-container">
 <!--Here goes the banner-->
  <div class="banner">
    <div class="banner-text">
      <h1>Empowering you to take control of your health</h1>
      <p>We make accessing quality medical care easy, secure, and hassle-free. Book consultations with trusted doctors, get prescriptions, and prioritise your health—all from the comfort of your home.</p>
    </div>
  </div>
  <!--Here goes the about-->
  <div class="about-banner">
    <div class="about">
      <div class="about-img">
        <%= image_tag "about-us.png" %>
      </div>
      <div class="about-text">
        <div class="about-title">
          <h3>Caring for</h3>
          <h1>Your health everyday</h1>
        </div>
        <p>Connect with certified medical professionals for expert advice, prescriptions, and follow-up care—all from the comfort of your home.
            With a user-friendly interface and a commitment to privacy, MedConnect makes quality healthcare accessible anytime, anywhere.</p>
        <div class="user-no">
          <div>
            <i class="fa-solid fa-user fa-2x" style="color: #008C99;"></i>
            <p>Our Users</p>
            <h4>2 Million</h4>
          </div>
          <div>
            <i class="fa-solid fa-notes-medical fa-2x" style="color: #008C99;"></i>
            <p>Our Doctors</p>
            <h4>10 Thousand</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Here goes the categories-->
  <div class="categories">

    <div class="categories-text">
      <h1>Frequently searched categories</h1>
    </div>
    <div class="categories-icons">
      <!--Here goes icon1-->
      <div class="category-icon1">
        <%= image_tag "lungs.png" %>
        <h3>Pulmonologist</h3>
      </div>
      <div class="category-icon2">
        <%= image_tag "general.png" %>
        <h3>General Practitioner</h3>
      </div>
      <div class="category-icon3">
        <%= image_tag "pediatrician.png" %>
        <h3>Pediatrician</h3>
      </div>
      <div class="category-icon4">
        <%= image_tag "phyciatrist.png" %>
        <h3>Psychiatrist</h3>
      </div>
      <div class="category-icon5">
        <%= image_tag "skin.png" %>
        <h3>Dermatologist</h3>
      </div>
    </div>
  </div>
  <!--Here goes the location-->
  <div class="location">
    <%= image_tag "locationpin.png" %>
    <h3>Search location</h3>
    <%= form_with url: doctors_path, method: :get, class: "search-form" do %>
      <%= text_field_tag :city, nil, placeholder: "Enter your city", class: "form-control location-input" %>
      <%= submit_tag "Search", class: "btn btn-doc search-btn" %>
    <% end %>
  </div>
  <div class="location">
    <h3>Search by language</h3>
    <%= form_with url: doctors_path, method: :get,class: "search-form" do %>
      <%= text_field_tag :language, nil, placeholder: "Enter the language", class: "form-control location-input" %>
      <%= submit_tag "Search", class: "btn btn-doc search-btn" %>
    <% end %>
  </div>

  <!--Here goes the services-->
  <div class="services">
    <div class="services-text">
      <h1 class="zain-light">Our Services</h1>
      <p>Our services include secure video consultations with certified medical professionals for general health concerns, chronic conditions, and specialist advice. You can receive digital prescriptions instantly and share medical reports for a smooth diagnostic process. Our app also supports mental health consultations with licensed psychologists, offering a safe space for addressing stress, anxiety, or depression.
       With multilingual support in a user-friendly booking system.</p>
    </div>
    <div class="services-cards">
      <!--Here goes the "services" card-->
      <%= link_to doctors_path, class:"services-card-online" do %>
        <div>
          <%= image_tag "online_card.png"%>
          <div class="card-online-text">
            Online doctors consultation
          </div>
        </div>
      <%end%>
      <!--Here goes the "findoctors" card-->
      <%= link_to doctors_path, class:"findoctors-card" do %>
        <div>
          <%= image_tag "findoctors.png"%>
          <div class="card-findoctors-text">
            Find doctors <br> near you
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
<!--Here goes the application/footer-->
