<div class="profile-container">
  <h2>Account Information</h2>

  <!-- Profile Picture Section -->
  <div class="profile-picture">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, alt: "Profile Picture" %>
    <% else %>
      <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="Default Profile Picture">
    <% end %>
  </div>

  <!-- Profile Information Section -->
  <div class="profile-info">
    <div class="profile-item">
      <label for="name">Name:</label>
      <span id="name"><%= current_user.first_name %></span>
    </div>

    <div class="profile-item">
      <label for="email">Email Address:</label>
      <span id="email"><%= current_user.email %></span>
    </div>

    <div class="profile-item">
      <label for="password">Password:</label>
      <span id="password"><%= current_user.password %></span>
    </div>

    <div class="profile-item">
      <label for="dob">Date of Birth:</label>
      <span id="dob"><%= current_user.year_of_birth %></span>
    </div>

    <!-- Blood Group Field (Only Show if Present) -->
    <% if current_user.blood_group.present? %>
      <div class="profile-item">
        <label for="blood_group">Blood Group:</label>
        <span id="blood_group"><%= current_user.blood_group %></span>
      </div>
    <% else %>
      <div class="profile-item">
        <label for="blood_group">Blood Group:</label>
        <span id="blood_group">N/A</span>
      </div>
    <% end %>

    <!-- Gender Field (Only Show if Present) -->
    <% if current_user.gender.present? %>
      <div class="profile-item">
        <label for="gender">Gender:</label>
        <span id="gender"><%= current_user.gender %></span>
      </div>
    <% else %>
      <div class="profile-item">
        <label for="gender">Gender:</label>
        <span id="gender">N/A</span>
      </div>
    <% end %>

    <!-- Language Field (Only Show if Present) -->
    <% if current_user.language.present? %>
      <div class="profile-item">
        <label for="language">Language:</label>
        <span id="language"><%= current_user.language %></span>
      </div>
    <% else %>
      <div class="profile-item">
        <label for="language">Language:</label>
        <span id="language">N/A</span>
      </div>
    <% end %>
  </div>
  <div class="profile-edit">
    <%= link_to "register a new doctor", new_doctor_path, class: "btn btn-doc" %>
    <%= link_to "Edit profile", edit_user_registration_path(current_user), class: "btn btn-doc" %>
  </div>
</div>

<div class="profile-container">
  <h2>Medical Information</h2>
  <div class="profile-info">
    <!-- allergies Field (Only Show if Present) -->
    <% if current_user.allergies.present? %>
      <div class="profile-item">
        <label for="allergies">Allergies:</label>
        <span id="allergies"><%= current_user.allergies %></span>
      </div>
    <% else %>
      <div class="profile-item">
        <label for="allergies">Allergies:</label>
        <span id="allergies">N/A</span>
      </div>
    <% end %>

    <!-- current medication (Only Show if Present) -->
    <% if current_user.c_medication.present? %>
      <div class="profile-item">
        <label for="c_medication">Current med:</label>
        <span id="c_medication"><%= current_user.c_medication %></span>
      </div>
    <% else %>
      <div class="profile-item">
        <label for="c_medication">Current med:</label>
        <span id="c_medication">N/A</span>
      </div>
    <% end %>

    <!-- past medication Field (Only Show if Present) -->
    <% if current_user.p_medication.present? %>
      <div class="profile-item">
        <label for="p_medication">Past medication:</label>
        <span id="p_medication"><%= current_user.p_medication %></span>
      </div>
    <% else %>
      <div class="profile-item">
        <label for="p_medication">Past medication:</label>
        <span id="p_medication">N/A</span>
      </div>
    <% end %>

    <!-- surgeries Field (Only Show if Present) -->
    <% if current_user.surgeries.present? %>
      <div class="profile-item">
        <label for="surgeries">Surgeries:</label>
        <span id="surgeries"><%= current_user.surgeries %></span>
      </div>
    <% else %>
      <div class="profile-item">
        <label for="surgeries">Surgeries:</label>
        <span id="surgeries">N/A</span>
      </div>
    <% end %>

    <!-- injuries Field (Only Show if Present) -->
    <% if current_user.injuries.present? %>
      <div class="profile-item">
        <label for="injuries">Injuries:</label>
        <span id="injuries"><%= current_user.injuries %></span>
      </div>
    <% else %>
      <div class="profile-item">
        <label for="injuries">Injuries:</label>
        <span id="injuries">N/A</span>
      </div>
    <% end %>

    <% if current_user.chronic_diseases.present? %>
      <div class="profile-item">
        <label for="chronic_diseases">Chronic Diseases:</label>
        <span id="chronic_diseases"><%= current_user.chronic_diseases %></span>
      </div>
    <% else %>
      <div class="profile-item">
        <label for="chronic_diseases">Chronic Diseases:</label>
        <span id="chronic_diseases">N/A</span>
      </div>
    <% end %>
  </div>
</div>



<% if current_user.doctor.present? %>
  <h2 class="text-center">Doctor's profile associated with this profile</h2>
    <ul>
      <%= link_to doctor_path(current_user.doctor), style: "text-decoration: none; color: inherit;" do %>
        <div class="doctor-container">
          <ul>
            <strong class="text">Name:</strong> Dr. <%= current_user.doctor.last_name %><br>
            <strong class="text">Specialization:</strong> <%= current_user.doctor.specialization %><br>
            <strong class="text">Experience:</strong> <%= current_user.doctor.experience %><br>
            <strong class="text">Description:</strong> <%= current_user.doctor.description %><br>
          </ul>
          <% if current_user.doctor.photo.attached? %>
            <%= cl_image_tag current_user.doctor.photo.key, alt: "Profile Picture", style: "width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" %>
          <% elsif current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, alt: "Profile Picture", style: "width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" %>
          <% else %>
            <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="Default Profile Picture", style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" >
          <% end %>
          <%# <%= link_to "Edit my doctor's profile", edit_doctor_path(current_user), class: "btn btn-doc" %>
        </div>
      <% end %>
    </ul>
<% else %>
  <p>You are not registered as a doctors yet.</p>
<% end %>
