<h1 class="doctor-index-h1">Doctors</h1>
<h2 class="doctor-index-h2">Please choose a doctor</h2>

<div class="doc-index-big-div">
  <% @doctors.each do |doctor| %>
    <div class="doctor-card-frame">
      <h3 class="doctor-last_name"><%= "Dr. #{doctor.last_name}" %></h3>
      <div class="doctor-image-information-button">
        <%#= image_tag "#{doctor.first_name}_#{doctor.last_name}", class: "doctor-image" %>
        <div class="information-button">
          <div class="pees">
            <div class="specialization-div">
              <p class="sec-headings-p">Specialization:</p>
              <p class="sec-values-p"><%= doctor.specialization %></p>
            </div>
            <div class="specialization-div">
              <p class="sec-headings-p">Experience:</p>
              <p class="sec-values-p"><%= doctor.experience %> Years</p>
            </div>
            <div class="specialization-div">
              <p class="sec-headings-p">City:</p>
              <p class="sec-values-p"><%= doctor.city %></p>
            </div>
          </div>
          <%= link_to doctor_path(doctor) do %><p class="link-knopf">More Info</p><% end %>
        </div>
      </div>
    </div>
  <% end  %>
</div>
