<div class="dr-container">
  <!--card 1 - doctor's picture and description-->
  <div class="picture-card">
    <div class="dr-img">
      <%if @doctor.photo.attached? %>
       <%= cl_image_tag @doctor.photo.key %>
      <% else %>
        <img src="https://hips.hearstapps.com/hmg-prod/images/portrait-of-a-happy-young-doctor-in-his-clinic-royalty-free-image-1661432441.jpg?crop=0.66698xw:1xh;center,top&resize=1200:*">
      <% end %>
    </div>
      <div class="picture-card-text">
        <h1 class="zain-bold blue">Dr. <%= @doctor.last_name.capitalize %></h1>
        <div class="card-info-aichtwo"><h3>Specialization:</h3><h3><%= @doctor.specialization.capitalize %></h3></div>
        <div class="card-info-aichtwo"><h3>Location:</h3><h3><%= @doctor.city.capitalize %></h3></div>
        <div class="card-info-aichtwo"><h3>Experience:</h3><h3><%= @doctor.experience %> Years</h3></div>
      </div>
  </div>
  <!--card 2 - doctor services and availability card-->
  <div class="doctor-service-card">
    <div class="service">
      <h2 class="zain-bold">Services</h2>
        <ul>
          <% @description_list.each do |phrase| %>
            <li><%= phrase %></li>
          <% end %>
        </ul>
    </div>
    <div class="availability">
      <h2 class="zain-bold">availability</h2>
      <div class="schedule">
        <ul><% @availability_list.each do |availability| %>
            <li><%= availability %></li>
            <% end %>
        </ul>
      </div>
    </div>
    <div class="price">
      <h2 class="zain-bold colors">Price per hour </h2><br><p><%= @doctor.price_per_hour %> €/h </p>
    </div>
  </div>
  <!--card 3 - languages card-->
  <div class="dr-languages-card">
    <h3 class="zain-bold blue">Languages</h3>
    <div class="dr-languages zain-bold">
      <%@doctor.languages.uniq { |language| "#{language.name}" }.each do |language| %>
        <div class="language-rounded"> <%= language.name %>  </div>
      <% end %>
    </div>
  </div>
  <!--card 4- education card-->
  <div class="education-card">
    <h3 class="zain-bold blue">Education</h3>
    <div class="education-text zain-regular">
      <%=@doctor.education%>
    </div>
    <p><%= link_to"Book appointment", new_doctor_appointment_path(@doctor), class:"btn-appointment"%></p>
  </div>
  <div class="review-big-sub" data-controller="show-more">
    <div class="make-more">
      <div class="btn-appointment additional" data-action="click->show-more#seeMore">See all reviews</div>
      <div class="btn-appointment"><%= link_to "Create a review", new_doctor_doctor_review_path(@doctor) %> </div>
    </div>
    <div class="scrolly">
      <% @first_reviews.each do |doctor_review| %>
        <div class="doc-review-itteration-frame">
          <div class="review-frame">
            <div class="first-flex">
              <div class="review-title">
                Title: <%= doctor_review.title %>
              </div>
              <div class="review-user-id">
                Name: <%= doctor_review.user.first_name.capitalize %> <%= doctor_review.user.last_name.capitalize %>
              </div>
              <div class="review-user-id">
                Rating: <%= doctor_review.rating %>
              </div>
            </div>
            <div class="comment-div">
              Comment: <%= doctor_review.comment %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="more d-none" data-show-more-target="restReviews">
        <% @doctor_reviews.each do |doc_review| %>
          <div class="doc-review-itteration-frame">
            <div class="review-frame">
              <div class="first-flex">
                <div class="review-title">
                  Title: <%= doc_review.title %>
                </div>
                <div class="review-user-id">
                  Name: <%= doc_review.user.first_name.capitalize %> <%= doc_review.user.last_name.capitalize %>
                </div>
                <div class="review-user-id">
                  Rating: <%= doc_review.rating %>
                </div>
              </div>
              <div class="comment-div">
                Comment: <%= doc_review.comment %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-3 mb-3" id="back-doctors">
  <%= link_to '< Back to Doctors', doctors_path, class: 'btn-appointment' %>
</div>
