<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header text-white text-center bg-primary">
          <h2>Appointment Details</h2>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Doctor:</strong> <%= @appointment.doctor.full_name %></li>
            <li class="list-group-item"><strong>Specialization:</strong> <%= @appointment.doctor.specialization %></li>
            <li class="list-group-item"><strong>Start Time:</strong> <%= @appointment.starts_at.strftime('%B %d, %Y %I:%M %p') %></li>
            <li class="list-group-item"><strong>End Time:</strong> <%= @appointment.ends_at.strftime('%B %d, %Y %I:%M %p') %></li>
            <li class="list-group-item"><strong>Message:</strong> <%= @appointment.message %></li>
            <li class="list-group-item"><strong>Symptoms:</strong> <%= @appointment.symptoms %></li>
            <li class="list-group-item"><strong>Medical History:</strong> <%= @appointment.medical_history %></li>
            <li class="list-group-item"><strong>User:</strong> <%= @appointment.user.email %></li>
            <li class="list-group-item"><strong>Price:</strong> $<%= @appointment.doctor.price_per_hour %></li>
            <li class="list-group-item"> <%= link_to "Messages with Dr.#{@appointment.doctor.last_name}", appointment_messages_path(@appointment), class: "btn btn-outline-primary", style: "color: $blue; border-color: $blue;" %></li>
          </ul>
        </div>
        <div class="card-footer text-center">
          <%= link_to 'Back to Appointments', appointments_path, class: "btn btn-outline-primary", style: "color: $blue; border-color: $blue;" %>
        </div>
      </div>
    </div>
  </div>
</div>
