<div class="container">
  <h1>Appointment Details</h1>

  <p><strong>Doctor:</strong> <%= @appointment.doctor.full_name %></p>
  <p><strong>Specialization:</strong> <%= @appointment.doctor.specialization %></p>
  <p><strong>Start Time:</strong> <%#= @appointment.starts_at.strftime('%B %d, %Y %I:%M %p') %></p>
  <p><strong>End Time:</strong> <%#= @appointment.ends_at.strftime('%B %d, %Y %I:%M %p') %></p>
  <p><strong>Message:</strong> <%= @appointment.message %></p>
  <p><strong>Symptoms:</strong> <%= @appointment.symptoms %></p>
  <p><strong>Medical History:</strong> <%= @appointment.medical_history %></p>
  <p><strong>User:</strong> <%= @appointment.user.email %></p>
  <p><strong>Price:</strong> $<%= @appointment.doctor.price_per_hour %></p>

  <%= link_to 'Back to Appointments', appointments_path, class: "btn btn-secondary" %>
</div>
